#p1 {
    background-color: aqua;
}

#p2 {
    background-color: yellow;
}

#inline-p1 {
    background-color: chartreuse;
    display: inline;
}

#inline-p2 {
    background-color: rosybrown;
    display: inline;
}

#inline-block-elements li {
    display: inline-block;
    width: 120px;
    height: 45px;
    margin: 10px;
    background-color: lightgoldenrodyellow;
}

#display-none {
    display: none;
}


