/*
body{
    background-color: aqua;
}
*/

* {
    scroll-behavior: smooth;
}

body {
    min-height: 400vh;
    transition: all .6s ease-in-out;
}

body.scroll{
    background-color: blueviolet;
}

body.scroll2{
    background-color: aqua;
}

h1 {
    transition: all .3 ease-in-out;
    position: fixed;
    left: 0;
    top: 0;
    padding: 25px;
    background: rgb 255, 255, 255, 6;
    z-index: 2;
}